html {
  cursor: url("assets/cursors/default.png"), default;
    /* url("assets/cursors/pointer.png"), pointer; */
}

body {
  width: 500px;
  margin: auto;
  margin-top: 10vh;
}

button {
  cursor: url("assets/cursors/pointer.png"), pointer;
  font-style: italic;
}

button:active {
  cursor: url("assets/cursors/grab.png"), grab;
}

input {
  cursor: url("assets/cursors/text.png"), text;
}

h1 {
  font-size: 12pt;
  margin-bottom: 2px;
}

.altered {
  color: red;
}

#close {
  position: fixed;
  top:0;
  right:0;
  align-items: right;
  justify-content: right;
}


#hades {
  background-color: black;
  color: white;
}